<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="BLE Devices"></Label>

      <ActionItem (tap)="onSearch()"
      ios.systemIcon="12" ios.position="right"
      text="delete" android.position="popup"></ActionItem>

</ActionBar>

<ListView [items]="items" (itemTap)="onItemTap($event)" class="list-group" iosEstimatedRowHeight="44" >
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout rows="30,20" columns="30,*,100">
                <Label [text]="i" class="rssi-lable" row="0" col="0" rowspan="2"></Label>
                <Label [text]="item.name" row="0" col="1"></Label>
                <Label [text]="item.role" row="1" col="1"></Label>
                <Button text="Connect"  class="my-button" (tap)="onTap($event)" row="0" col="2" rowspan="2"></Button>
            </GridLayout>
        </ng-template>
</ListView>
